@font-face {
    font-family: "Meslo LG Nerd Font Complete";
    font-style: normal;
    font-weight: 400;
    src: url('https://github.com/tfiala/blink-fonts/raw/main/meslo-lg-nf-p10k/meslo-lg-m-regular-nerd-font-complete.ttf') format('truetype');
}
